* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #697782;
  width: 100%;
  /* height: 100vh; */
}
.padding_top_60 {
  padding-top: 60px;
  width: 100%;
}
/* header-top */
.header-top {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #232424;
  top: 0;
  left: 0;
  z-index: 1;
  font-weight: bold;
  line-height: 80px;
  border-bottom: 2px solid grey;
}
.logo {
  width: 20%;
  color: white;
  vertical-align: middle;
}
.menu ul li {
  margin-left: 18px;
  font-size: 0.9em;
  padding: 0.5em 0;
}
.menu ul li a {
  text-decoration: none;
  color:#536970;
}
.menu ul li a:hover {
  color: white;
  text-decoration: underline lightblue;
}
.btn_green {
  color: #cdd8bc;
  border: 2px solid green;
  border-radius: 2px;
}
.btn_border {
  color: #cdd8bc;
  border: 2px solid #697782;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}
.btn_green:hover {
  background-color: #697782;
}

.btn_green:hover a {
color: green;
}
.btn_border:hover {
  background-color: #697782;
}
/* jumbo */
.jumbo {
  width: 100%;
  height: 810px;
  margin-top: 80px;
  padding: 80px 0;
  background-color: #232424;
}
.text_area {
  width: 70%;
  /* padding: 10px auto; */
}
.title {
  color:white;
  font-weight: bold;
  text-align: center;
}
.undertitle {
  text-align: center;
}
.btn_green_big {
  color: #cdd8bc;
  border: 2px solid green;
  border-radius: 2px;
  padding: 10px 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* logo_line */
.logo_line {
  width: 100%;
  height: 70px;
  padding: 20px 0;
  background-color: white;
  border-bottom: 1px solid grey;
  line-height: 40px;
}
.logo_photos {
  width: 80%;
  vertical-align: middle;
}
.logo_lists {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.hunt {
  width: 30%;
  opacity: 0.2;
}
.life {
  width: 30%;
  opacity: 0.2;
}
.forbes {
  width: 30%;
  opacity: 0.2;
}
.net {
  width: 20%;
  opacity: 0.2;
}
.tech {
  width: 40%;
  opacity: 0.6;
}
/* first-section */
.wrapper_80 {
  width: 80%;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 45px;
}
.first_title {
  color:black;
  font-weight: bold;
}
.space {
  width: 10%;
  font-weight: bold;
  border: 2px solid grey;
}
.text_color {
  color:#536970;
  margin-top: 10px;
  margin-bottom: 10px;
}
#tutorials {
  font-weight: bold;
  color:rgb(37, 200, 190);
}
.small_icon {
  color: rgb(36, 144, 184);
}
.area_destra p a {
  text-decoration: underline lightblue;
}
.learn {
  width: 140%;
}
.left_side {
  padding-bottom: 30px;
}
/* second_section */

#sfondo {
  background-color: #232424;
  width: 100%;
}
.second_title {
  color:white;
  font-weight: bold;
}
.graphic_wrapper {
  /* max-width: 600px;
  min-height: 350px; */
  margin: 45px auto 30px;
  width: 100%;
  position: absolute;
  top: 50%;

  transform: translateY(-30%);
}
.design {
  opacity: 0.2;
  margin-bottom: 10px;
  overflow: hidden;

}

/* third-section */
.iceberg {
  width: 40%;
}
.area_sinistra {
  display: flex;
  padding-top: 90px;
  justify-content: space-around;
}
/* fourth-title */
.box_title {
  color:black;
  font-weight: bold;

}
.coming_soon {
  text-align: center;
  font-family: cursive;
}
/* footer */

/* footer-top */
#footer_top {
  width: 100%;
  height: 150px;
  background-color:#1e2325;
  border-bottom: 2px double grey;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
/* footer-central */
.footer_menu {
  display:flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 45px;
}
.display {
  display:inline-block;
}
.footer_menu nav h5 {
  color: #c0d0d8;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: .9em;
  line-height: 1.4em;
}
#central {
  background-color: #232424;
  width: 100%;
  border-bottom: 2px double grey;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
.footer_menu nav li a {
  color:#697782;
}
.select.select_nav {
  width: 100%;
  font-size: .8em;
  position: relative;
  border-color: #3e535e;
  border-width: 2px;
  background: #242a2d;
  border-radius: 40px;
}
/* .select {
  border: 1px solid #e2e9ed;
  border-radius: 3px;
  position: relative;
} */
.select.select_nav::after {
  border-top-color: #3e535e;
}
.select:after {
  content: ' ';
  display: block;
  width: 0;
  height: 0;
  border-left: .5em solid transparent;
  border-right: .5em solid transparent;
  border-top: .5em solid #597b8f;
  position: absolute;
  right: 1.25em;
  top: 0;
  bottom: 0;
  margin: auto;
}

.footer_big {
  color:white;
  background-color: #232424;
  border: 2px solid grey;
  border-radius: 20px;
  width: 200%;
  padding: 10px 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* footer-bottom */
#footer_bottom {
  width: 100%;
  height: 90px;
  background-color: #232424;
  border-bottom: 2px double grey;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
.footer_container {
  display: flex;
  flex-direction: row;
  min-width: 800px;
  margin-left: 10px;
}
.box_left {
  margin-top: 10px;
  padding-right: 15px;
  width: 20%;
}
.box_center {
  margin-top: 10px;
  padding: 0 15px;
  width: 50%
}
.box_right {
  margin-top: 30px;
  padding-left: 15px;
  width: 20%;
}
.first {
  width: 100%;
  line-height: 45px;
}
.first p {
  text-align: center;
}
.second {
  width: 100%;
  line-height: 45px;
}
.brand_lists {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.brand {
  width: 60%;
}
.third {
  width: 100%;
  line-height: 10px;
}
.third p {
  text-align: right;
  font-size: 10px;
}
